body {
    background: #f5f6fa;
}

.admin-header {
    height: 64px;
    background: #111;
    color: #fff;
    display: flex;
    align-items: center;
}

.admin-header-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.admin-main {
    padding: 24px;
}